<script src="assets/tracking-min.js"></script>
<script src="assets/face-min.js"></script>
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-4">
          <div class="card">
              <div class="content">
                  <div class="row">
                      <div class="col-xs-2">
                          <div class="icon-big icon-warning text-center">
                              <i class="ti-server"></i>
                          </div>
                      </div>
                      <div class="col-xs-10">
                          <div class="numbers">
                              <p>時間</p>
                              {{currentTime | date:'yyyy/MM/dd HH:mm:ss'}}
                              <!-- {2018/08/30 23:30:06} -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="card">
              <div class="content">
                  <div class="row">
                      <div class="col-xs-2">
                          <div class="icon-big icon-info text-center">
                              <i class="ti-map"></i>
                          </div>
                      </div>
                      <div class="col-xs-10">
                          <div class="numbers">
                              <p>地點</p>
                              台北市 - 市政府捷運站 M2 出口
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-2">
          <div class="card">
              <div class="content">
                  <div class="row">
                      <div class="col-xs-4">
                          <div class="icon-big icon-danger text-center">
                              <i class="ti-alert"></i>
                          </div>
                      </div>
                      <div class="col-xs-8">
                          <div class="numbers">
                              <p>城市犯罪係數</p>
                              35
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-6">
          <div class="card big-card">
              <div class="header">
                  <h4 class="title">畫面特徵係數</h4>
              </div>
              <div class="content">
                  <div class="row barChart">
                      <chart #ct [type]="type" [data]="data" [options]="options"></chart>
                  </div>
              </div>
              <div class="header">
                <h4 class="title">整體可疑係數</h4>
              </div>
              <div class="content">
                <div class="row donutChart">
                    <chart style="position: absolute; width:95%; height: 95%;" #ct1 [type]="donut_type" [data]="donut_data" [options]="donut_options"></chart>
                    <div id="total-percent-text">{{this.totalPercentage | number:'1.0-0'}}%</div>
                </div>
              </div>
          </div>
          <div class="card">
                
          </div> 
      </div>
      <div class="col-md-6">
          <div class="card big-card">
              <div class="header">
                  <h4 class="title">CCTV</h4>
              </div>
              <div class="content" #VideoContainer>
                  <div class="video_container">
                      <video id='myVideo' playsinline="true" autoplay="true" muted="muted" #VideoContent></video>
                      <canvas #mycanvas id="canvas" width="640" height="480"></canvas>
                  </div>
                  <div class="footer">
                      <div *ngIf="isSuccessAccessVideo" class="stats">
                          <i class="ti-reload"></i> Updated 3 minutes ago
                      </div>
                      <div *ngIf="!isSuccessAccessVideo" class="stats">
                          錯誤：{{errorMessage}}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="header">
                  <h4 class="title">行為可能性</h4>
                  <p class="category">Last Campaign Performance</p>
              </div>
              <div class="content">
                  <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                  <div class="footer">
                      <div class="chart-legend">
                          <i class="fa fa-circle text-info"></i> 跟隨
                          <i class="fa fa-circle text-danger"></i> 注視
                          <i class="fa fa-circle text-warning"></i> 
                      </div>
                      <hr>
                      <div class="stats">
                          <i class="ti-timer"></i> Campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card ">
              <div class="header">
                  <h4 class="title">某數據</h4>
                  <p class="category">All products including Taxes</p>
              </div>
              <div class="content">
                  <div id="chartActivity" class="ct-chart"></div>

                  <div class="footer">
                      <div class="chart-legend">
                          <i class="fa fa-circle text-info"></i> Tesla Model S
                          <i class="fa fa-circle text-warning"></i> BMW 5 Series
                      </div>
                      <hr>
                      <div class="stats">
                          <i class="ti-check"></i> Data information certified
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>