.barChart {
  width: 95%;
  height: 50%;
  margin: 0 auto;
}

.donutChart {
  width: 95%;
  height: 50%;
  margin: 0 auto;
  position: relative;
}

.video_container {
    position: relative;
    height: 550px;
}

.big-card {
    position: relative;
    height: 650px;
}

video {
    width: 640px; 
    height: 480px;
    position: absolute;
    left:5%;
}

#canvas {
    position: absolute;
    z-index: 3;
    left:5%;
}

#total-percent-text {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 110px;
    left: 38%;
    font-family: sans-serif;
    font-size: 5em;
}

.modal-body {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}