/* You can add global styles to this file, and also import other style files */
.modal.fade {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.modal-dialog {
    margin: 0;
}